@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000');

*{
    font-family: 'Nunito';
    margin: 0;
}

body {
    background-color: #EFEFEF;
}

body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #cacaca;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #3983c3;
  }

.menuboard {
    left: 0;
    width: 28vh;
    height: 100%;
    background-color: #3983C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 999;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.logoJOC img{
    margin-top: 20px;
    width: 90px;
}

.content-categories {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 0%;
    overflow:auto;
    overflow-x: hidden;
    margin-top: 20px;
    height: 100%;
}

.content-categories::-webkit-scrollbar {
    width: 1px;
  }

.content-categories a {
    text-decoration: none;
    color: black;
}

.categories img {
    width: 23px;
    height: 23px;
    margin-right: 8px;
    padding-top: 2px;
}

.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    font-size: 1.1em;
    margin: 20px 0px;
    text-align: left;
    text-transform: uppercase;
    height: fit-content;
    padding: 4px;
}

.categories:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

.categories:last-child {
    margin-bottom: 0px;
}

.header {
    margin-left: 28vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1000;
}

.header h1 {
    margin-left: 20px;
    font-size: 55px;
    font-weight: 400;
}

.loginsucess {
    display: flex;
    position: fixed;
    right: 30px;
    font-size: 0.9em;
}

.loginsucess a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding: 0px 5px;
}

.loginsucess a:hover {
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
  }

.container-profil-img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.loginsucess img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px
}

.settings-user {
    width: 100%;
    margin-left: 28vh; 
    margin-top: 75px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.bio-user {
    font-size: 0.9em;
    width: 375px;
    height: 70px;
    padding: 0%;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.285);
    outline: none;
    background-color: transparent;
}

.bio-user::-webkit-scrollbar {
    width: 3px;
  }
  
  .bio-user::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 100px;
  }

.header-bio {
    display: flex;
    align-items: center;
}

.form-bio h4 {
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.mdp {
    display: flex;
}

.mdp button{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
    margin-left: 5px;
    background-color: transparent;
}

.mdp button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.mdp button img {
    width: 15px;
}

.header-bio button {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
    margin-left: 5px;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.header-bio button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.header-bio button img {
    width: 15px;
}

.profilepic img {
    width: 100px;
}

.profilepic {
    margin: 8px;
    position: relative;
    width: 100px;
    display: flex;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
    background-color: #aaaaaa;
    border: #aaaaaa 5px solid;
    box-shadow: 0 2px 5px rgba(0,0,0,0.275);
  }
  
  .profilepic:hover .profilepic_content {
    opacity: 1;
  }
  
  .profilepic:hover .profilepic_image {
    opacity: .5;
  }
  
  .profilepic_image {
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
  
  .profilepic_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  
  .profilepic_content img {
    width: 25px;
  }
  
  .profilepic_text {
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }

  .none {
    display: none;
  }

.form-photo {
    margin: 15px;
}

.form-photo button {
    margin:4px;
    border: none;
    cursor: pointer;
}

.form-photo button:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.form-pseudo input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.284);
    background-color: transparent;
    margin-right: 5px;
    font-size: 16px;
    outline: none;
}

.form-pseudo {
    margin-left: 15px;
    border-top: 2px black solid;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 406px;
}

.form-pseudo button {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.form-pseudo button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.form-pseudo button img {
    width: 15px;
}

.form-bio {
    margin: 15px;
    border-top: 2px black solid;
    border-bottom: 2px solid black;
    padding-top: 15px;
    padding-bottom: 25px;
    width: fit-content;
}

.form-password {
    margin-left: 15px;
    padding-top: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.form-password h3 {
    margin-bottom: 5px;
}

.form-password input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.285);
    background-color: transparent;
    margin-right: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
}