@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000');

*{
    font-family: 'Nunito';
    margin: 0;
}

body {
    background-color: #EFEFEF;
}

body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #cacaca;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #3983c3;
  }

.menuboard {
    left: 0;
    width: 28vh;
    height: 100%;
    background-color: #3983C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 999;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.logoJOC img{
    margin-top: 20px;
    width: 90px;
}

.header {
    margin-left: 28vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1000;
}

.header h1 {
    margin-left: 20px;
    font-size: 55px;
    font-weight: 400;
}

.loginsucess {
    display: flex;
    position: fixed;
    right: 30px;
    font-size: 0.9em;
}

.loginsucess a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding: 0px 5px;
}

.loginsucess a:hover {
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
  }

.container-profil-img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.loginsucess img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px
}

.post {
    position:fixed;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 77vh;
    height: fit-content;
    margin-left: 130px;
    background-color: white;
    border: 3px solid black;
    border-radius: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin: 17px 20px;
    margin-bottom: 7px;
}

.user {
    display: flex;
    align-items: center;
}

.user p{
    margin-left: 10px;
    font-size: 17px;
}

.user img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100px
}

.categories-post {
    position: relative;
    width: 131px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 3px 7px;
    font-size: 19px;
    cursor: pointer;
}

.form-post {
    position: relative;
    margin: 0px 25px;
}

.title-post {
    width: 70%;
    font-size: 22px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0%;
}

.title-post::placeholder {
    color: rgba(0, 0, 0, 0.278);
    font-size: 22px;
}

.text-post {
    width: 100%;
    height: fit-content;
    max-height: 200px;
    resize : none;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0%;
    padding-right: 10px;
}

.text-post::placeholder {
    color: rgba(0, 0, 0, 0.278);
    padding: 0%;
    font-size: 16px;
}

.text-post::-webkit-scrollbar {
    width: 5px;
  }
  
  .text-post::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  .text-post::-webkit-scrollbar-thumb {
    background-color: #3983c3;
    border-radius: 100px;
  }

.footer-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin: 15px 20px;
    margin-top: 5px;
}

.img-post {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.img-post:hover {
    background: #0000004f;
}

.img-post img {
    width: 20px;
}

.none {
    display: none;
}

.image-container {
    margin: 5px;
}

#postImage {
    display: none;
    height: 11vh;
    border-radius: 10px;
}

.remove-image {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: red;
    color: white;
    display: none;
    position: absolute;
    border: none;
    padding: 0px;
    margin-top: -3px;
    margin-left: -5px;
}

.remove-image img {
    width: 12px;
}

.glow-on-hover {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glow-on-hover img {
    width: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff4d4d, #ff9933, #66ff99, #66a3ff,#66ff99, #ff9933,#ff4d4d );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 60px;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 60px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.blue-bg:after {
    background-color: #3983c3; 
}

.red-bg:after {
    background-color: #CD2C2C;
}

.green-bg:after {
    background-color: #469C49; 
}

.yellow-bg:after {
    background-color: #EBC842; 
}
