@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000');

*{
    font-family: 'Nunito';
    margin: 0;
}

body {
    background-color: #EFEFEF;
}

body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #cacaca;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: black;
  }

.menuboard {
    left: 0;
    width: 28vh;
    height: 100%;
    background-color: #3983C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 999;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.logoJOC img{
    margin-top: 20px;
    width: 90px;
}

.search-container {
    width: 20px;
    min-height: 20px;
    border-radius: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 15px auto;
    margin-bottom: 0px;
    gap: 2px;
    cursor: pointer;
    transition: width 500ms cubic-bezier(0.68, -0.55, 0.8, 1.55);
    overflow: hidden;
}

.search-container.active {
    width: 80%;
    cursor: default;
    padding: 6px;
    background-color: rgb(255, 255, 255);
}
 
.search-container i img{
    width: 20px;
    margin: 0%;
}

.search-container.active i img{
    width: 20px;
    margin: 0% ;
}
  
.search-input {
    display: none;
    outline: none;
    border: none;
    width: 100%;
    font-family: 'Nunito';
    font-size: 15px;
    background-color: transparent;
}

i.fa-times {
    display: none;
    margin:0;
    cursor: pointer;
}

i.fa-search {
    height: 20px;
}

.search-container.active > :is(i, input) {
    display: flex;
}

.content-categories {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 0%;
    overflow:auto;
    overflow-x: hidden;
    margin-top: 20px;
    height: 100%;
}

.content-categories::-webkit-scrollbar {
    width: 1px;
}

.content-categories a {
    text-decoration: none;
    color: black;
}

.categories img {
    width: 23px;
    height: 23px;
    margin-right: 8px;
    border-radius: 6px;
}

.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    height: fit-content;
    padding: 4px;
}

.create-categories {
    background-color: white;
    width: 120px;
    min-height: 90px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.create-categories img {
    width: 35px;
}

.header {
    margin-left: 28vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1000;
}

.header h1 {
    margin-left: 20px;
    font-size: 55px;
    font-weight: 400;
}

.loginsucess {
    display: flex;
    position: fixed;
    right: 30px;
    font-size: 0.9em;
}

.loginsucess a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding: 0px 5px;
}

.loginsucess a:hover {
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
}

.container-profil-img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.loginsucess img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px
}

.glow-on-hover {
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    z-index: 900;
    right: 50px;
    bottom: 40px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glow-on-hover img {
    width: 20px;
}

.glow-on-hover a{
    width: 20px;
    height: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff4d4d, #ff9933, #66ff99, #66a3ff,#66ff99, #ff9933,#ff4d4d );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 60px;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#3983C3;
    left: 0;
    top: 0;
    border-radius: 60px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.container-info-category {
    right: 0%;
    background-color: #D9D9D9;
    width: 330px;
    height: 100%;
    position: fixed;
    z-index: 800;
    top: 75px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-info-category img {
    width: 260px;
    height: 260px;
    margin-top: 35px;
    border-radius:5px;
    margin-bottom: 10px;
}

.container-info-category h1 {
    font-size: 30px;
    border-bottom: 1px solid black;
    width: fit-content;
}

.container-info-category p {
    width: 260px;
    margin-top: 10px;
    height: 140px;
}

.post-container {
    position: absolute;
    width: 77vh;
    display: flex;
    align-items: center;
    flex-direction:column-reverse;
    padding-top: 100px;
    left: 45%;
    transform: translate(-50%);
}

.post{
    position: relative;
    width: 77vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 35px;
    margin-bottom:30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.more-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-post a {
    color: black;
    text-decoration: none;
    margin-right: 12px;
}

.more-post img {
    width: 17px;
}

.container-profil-img-post {
    width: 35px;
    height: 35px;
}

.header-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin: 13px 20px;
    margin-bottom: 7px;
}

.user {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.user p{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.header-post h3 {
    text-transform: capitalize;
}

.user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.content-post {
    margin: 0px 25px;
}

.content-post h1 {
    text-transform: capitalize;
    font-size: 23px;
}

.content-post p {
    width: 100%;
    max-height: 195px; 
    overflow:auto;
    font-size: 16px;
    overflow-x: hidden;
    padding-right: 8px;
    word-wrap: break-word;
}

.content-post img {
    height: 12vh;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.content-post p::-webkit-scrollbar {
    width: 3px;
  }
  
  .content-post p::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 100px;
  }

.footer-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin: 7px 20px;
    margin-right: 10px;
    margin-top: 7px;
}

.footer-post img {
    width: 25px;
}

.com-post {
    display: flex;
    align-items: center;
   justify-content: center;
}
.com-post a {
    width: 25px;
    height: 25px;
}

.com-post p{
    margin: 3px;
    font-size: 18px;
    font-weight: 600;
}

.like-post {
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-post a{
    width: 25px;
    height: 25px;
}

.like-post button{
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    padding: 0%;
    cursor: pointer;
}

.like-post p {
    margin: 3px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.upper {
    min-width: 32px;
    min-height: 32px;
}

.upper img {
    width: 30px;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 50% auto;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.478);
  }

.blue-bg:after {
    background-color: #3983c3;
}

.red-bg:after {
    background-color: #CD2C2C; 
}

.green-bg:after {
    background-color: #469C49; 
}

.yellow-bg:after {
    background-color: #EBC842; 
}

.login {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 30px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    padding: 0px 5px;
}

.login:hover {
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
  }

.login img {
    margin-left: 10px;
    width: 35px;
}

.dropdown {
    position: relative;
    height:17px;
    width: 17px;
  }
  
  .dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height:17px;
    width: 17px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 0px;
    margin: 0px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px 8px;
    font-size: 14px;
    margin: 0%;
    text-decoration: none;
    display: flex;
    width: 70px;
    height: fit-content;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    width: 70px;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .categories:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  .dropdown-content form:hover {
    background-color: #f1f1f1;
    width: 70px;
  }

  .dropdown-content form {
    color: black;
    padding: 5px 8px;
    font-size: 14px;
    margin: 0%;
    text-decoration: none;
    width: 70px;
    height: fit-content;
  }

  .dropdown-content form button {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0%;
  }