<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOC</title>
    <link href="/Assets/css/comments.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../Assets/img/burn.png">
</head>

<body>
    {{$isconnected := .IsConnected}}
    <div class="header">
        <h1>JOCommunity</h1>
        {{ if not .IsConnected}}
        <a href="/connection" class="login">
            <p>SE CONNECTER</p>
            <img src="../Assets/img/user.png">
        </a>
        {{else}}
        <div class="loginsucess">
            <a href="/deco">
                <p>SE DECONNECTER</p>
            </a>
            <a href="/profil/{{.CurrentUser.Id}}">
                <p>MON PROFIL</p>
                <div class="container-profil-img">
                    <img src=".{{.CurrentUser.Image}}">
                </div>
            </a>
        </div>
        {{end}}
    </div>

    <div class="menuboard" id="menuboard">
        <div class="logoJOC"><a href="/"><img src="../Assets/img/burn.png"></a></div>

        <div class="search-container" method="GET">
            <i class="fa fa-search"><img src="../Assets/img/loupe (2).png"></i>
            <input class="search-input" id="searchInput" type="text" placeholder="Rechercher..." name="recherche">
            <i class="fa fa-times"><img src="../Assets/img/signe-de-la-croix.png"></i>
        </div>
        
        <ul class="content-categories" id="itemList">
            {{ range .Categories }}
            <li><a href="/topic/{{.Id}}" class="categories"><img src=".{{.Image}}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        
        <a href="/createcategory" class="create-categories">
            <img src="../Assets/img/categories.png">
        </a>
        
    </div>

    <div id="fullpage" onclick="this.style.display='none';"></div>

    {{$idpost := .Post.Id}}

    <div class="post-container">
        <div class="post">
            <div class="header-post">
                <a class="user" href="/profil/{{.Post.User.Id}}">
                    <div class="container-profil-img-post">
                        <img src=".{{.Post.User.Image}}">
                    </div>
                    <p>{{.Post.User.Pseudo}}</p>
                </a>
                <div class="more-post">
                    <h3><a href="/topic/{{.Post.Category.Id}}">{{ .Post.Category.Title}}</a></h3>
                    {{if .Post.IsMine}}
                    <div class="dropdown">
                        <button class="dropbtn"><img src="../Assets/img/trois-points-plus-indicateur.png"></button>
                        <div class="dropdown-content">
                            <a href="/edit/{{.Post.Id}}">Éditer</a>
                            <form action="/delete" method="post">
                                <input type="hidden" name="id" value="{{.Post.Id}}">
                                <button type="submit">Supprimer</button>
                            </form>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
            
            <div class="content-post">
                <h1>{{ .Post.Title }}</h1>
                <p>{{ .Post.Content }}</p>
                <img id="postImage" src=".{{.Post.Image}}">
            </div>
    
            <div class="footer-post">
                <div class="com-post">
                    <img src="../Assets/img/Rectangle 14.png">
                    <p>{{ .Post.Comment}}</p>
                </div>
                
                <div class="like-post">
                    {{if $isconnected}}
                    <button id="Likes{{.Post.Id}}" value="{{.Post.Id}}" name="likes" onclick="Like(this)">
                        {{if .Post.IsLiked}}
                            <img id="like" class="fade-in" src="../Assets/img/likes.png">
                        {{else}}
                             <img id="like" class="fade-in" src="../Assets/img/trending-topic 1.png">   
                        {{end}}
                    </button>
                    <p id="nbLikes{{.Post.Id}}">{{.Post.Likes}}</p>
                    {{else}}
                    <a href="/connection"><img src="../Assets/img/trending-topic 1.png"></a>
                        <p>{{.Post.Likes}}</p>
                    {{end}}
                </div>
            </div>
        </div>
        {{if .IsConnected}}
        <form action="/createcomment/{{.IdPost}}" method="post" enctype="multipart/form-data" class="com">
            <div class="header-com">
                <div class="user-com">
                    <div class="container-profil-img-com">
                        <img src=".{{.CurrentUser.Image}}">
                    </div>
                    <p>{{.CurrentUser.Pseudo}}</p>
                </div>
            </div>
            <div class="form-com">
                <textarea class="text-com" type="text" id="commentInput" name="commentInput" placeholder="Ecris ton commentaire..." required></textarea>
            </div>
            <div class="footer-com">
                <button type="submit" id="submit" class="glow-on-hover"><img src="../Assets/img/Rectangle 9.png"></button>
            </div>
        </form>
        {{end}}
    
        
        {{ range .Lescoms }}
        <div class="com">
            <div class="header-com">
                <a class="user-com" href="/profil/{{.User.Id}}">
                    <div class="container-profil-img-com">
                        <img src=".{{.User.Image}}">
                    </div>
                    <p>{{.User.Pseudo}}</p>
                </a>
               {{if .IsMine}}
                <div class="dropdown-com">
                    <button class="dropbtn-com"><img src="../Assets/img/trois-points-plus-indicateur.png"></button>
                    <div class="dropdown-content-com">
                        <form action="/editCom/{{.Id}}" method="post">
                            <input type="hidden" name="idpost" value="{{$idpost}}">
                            <button type="submit">Éditer</input>
                        </form>
                        <form action="/deleteCom" method="post">
                            <input type="hidden" name="id" value="{{.Id}}">
                            <input type="hidden" name="idpost" value="{{$idpost}}">
                            <button type="submit">Supprimer</input>
                        </form>
                    </div>
                </div>
                {{end}}
                
            </div>

            <div class="form-com">
                <p class="text-com">{{.Content}}</p>
            </div>
        </div>
        {{end}}
    </div>

    
    <script src="../Assets/js/likes.js"></script> 
    <script src="../Assets/js/fullscreenimg.js"></script>
    <script src="../Assets/js/uppertextareaCom.js"></script>
    <script src="../Assets/js/uploadImg.js"></script>
    <script src="../Assets/js/changecolorCreatedTemplates.js"></script>
</body>
</html>