<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOC</title>
    <link href="/Assets/css/editCom.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../Assets/img/burn.png">
</head>
<body>
    <div class="header">
        <h1>JOCommunity</h1>
        <div class="loginsucess">
            <a href="/deco">
                <p>SE DECONNECTER</p>
            </a>
            <a href="/profil">
                <p>MON PROFIL</p>
                <div class="container-profil-img">
                    <img src=".{{.CurrentUser.Image}}">
                </div>
            </a>
        </div>
    </div>

    <div class="menuboard" id="menuboard">
        <div class="logoJOC"><a href="/"><img src="../Assets/img/burn.png"></a></div>
    </div>

        <form action="/saveCom" method="post" enctype="multipart/form-data" class="com">
            <div class="header-com">
                <div class="user-com">
                    <div class="container-profil-img-com">
                        <img src=".{{.CurrentUser.Image}}">
                    </div>
                    <p>{{.CurrentUser.Pseudo}}</p>
                </div>
            </div>
            <div class="form-com">
                <textarea class="text-post" type="text" id="contentInput" name="contentInput" required>{{.Comment.Content}}</textarea>
            </div>
            <div class="footer-com">
                <button type="submit" id="submit" class="glow-on-hover"><img src="../Assets/img/Rectangle 9.png"></button>
            </div>
            <input type="hidden" name="id" value="{{.Comment.Id}}">
            <input type="hidden" name="idpost" value="{{.Id}}">
        </form>

    <script src="../Assets/js/uppertextareaCom.js"></script>
    <script src="../Assets/js/changecolorCreatedTemplates.js"></script>

</body>
</html>
