<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link href="/Assets/css/loginsucess.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../Assets/img/burn.png">
</head>

<body>
    <div class="header">
        <h1>JOCommunity</h1>
        <div class="logoJOC"><img src="../Assets/img/burn.png"></div>
    </div>

    <div class="container">
        <h1>Vous êtes bien connecté !</h1>
        <p>Cette page se redirigera automatiquement vers une autre page après quelques secondes.</p>
        <div class="loader"></div>
    </div> 
    
    <script src="../Assets/js/redirection.js"></script>
    <script src="../Assets/js/changecolor.js"></script>
</body>
</html>
